
{% extends 'admin/base.html.twig' %}
{% block mainadmin %}
    
<h2>Editing category</h2>

{{ form_start(form, {'attr': {'novalidate':'novavalidate'}}) }}
{# <form action="{{ path('admin_update_category', {id:selectedCategory.id}) }}" method="POST"> #}
    {# <input type="text" class="form-control is-invalid" id="validationServer01" name="name" placeholder="Category name" value="{{selectedCategory.name}}"
        required> #}
    {{ form_widget(form.name, {'attr': {'class':'form-control' ~ is_invalid, 'placeholder': 'Category name'}, 'id': 'validationServer01', 'value': ' ' ~ selectedCategory.name}) }}
    <div class="invalid-feedback">
        {{ form_errors(form.name) }}
    </div>
    <br>
    {% if selectedCategory.parent is not null %}
        <label for="inlineFormCustomSelect">Parent:</label>
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="category[parent]">
            <option value="null" disabled selected>Select Parent</option>
            {% for category in categories %}
                {% if category.getId() == selectedCategory.parent.getId() %}
                    <option selected name="parent" value="{{category.id}}">{{category.name}}</option>
                {% else %}
                    <option name="parent" value="{{category.id}}">{{category.name}}</option>
                {% endif %}
                {% if category.subcategories is defined %}
                    {% for sub in category.subcategories %}
                        {% if sub.getId() == selectedCategory.parent.getId() %}
                            <option selected name="parent" value="{{sub.id}}">----{{sub.name}}</option>
                        {% else %}
                            <option name="parent" value="{{sub.id}}">----{{sub.name}}</option>
                        {% endif %}
                        
                        {% if sub.subcategories %}
                            {% for item in sub.subcategories %}
                                <option name="parent" value="{{item.id}}">------------{{item.name}}</option>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </select>
    {% endif %}
    <div class="invalid-feedback">
        Category already exists!
    </div>
    <button class="btn btn-primary mt-3" type="submit">Save</button>

{# </form> #}
{{ form_end(form) }}
{% endblock %}