
{% extends 'admin/base.html.twig' %}
{% block mainadmin %}
    
<h2>Editing category</h2>

<form action="{{ path('admin_update_category', {id:category.id}) }}" method="POST">
    <input type="text" class="form-control is-invalid" id="validationServer01" name="name" placeholder="Category name" value="{{category.name}}"
        required>
    <br>
    {% if category.parent is not null %}
        <label for="inlineFormCustomSelect">Parent:</label>
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="parent">
            <option value="null" disabled selected>Select Parent</option>
            {% for category in categories %}
                <option name="parent" value="{{category.id}}">{{category.name}}</option>
                {% if category.subcategories is defined %}
                    {% for sub in category.subcategories %}
                        <option name="parent" value="{{sub.id}}">----{{sub.name}}</option>
                        {% if sub.subcategories %}
                            {% for item in sub.subcategories %}
                                <option name="parent" value="{{item.id}}">------------{{item.name}}</option>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </select>
    {% endif %}
    <div class="invalid-feedback">
        Category already exists!
    </div>
    <button class="btn btn-primary mt-3" type="submit">Save</button>

</form>
{% endblock %}